/*
X-Small	None <576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

@media (min-width:300px) {
    .hero-para {
        padding: 176px 0;
    }
    .section-two {
        background: rgb(255, 255, 255);
        position: relative;
        padding-top: 30px;
        top: 734px;
        z-index: 99;
    }
    .image {
        position: absolute;
        width: 290px;
        height: 290px;
        border-radius: 50%;
        background: #aaa;
        top: 124px;
        right: -3px;
    }
    .hero-image {
        position: relative;
        width: 450px;
        top: -350px;
    }
    .image {
        position: absolute;
        width: 315px;
        height: 315px;
        border-radius: 50%;
        background: #aaa;
        top: 153px;
        right: 22px;
    }
    .white{
        font-size: 15px;
    }
    .writ-head {
        font-size: 20px;
    }
    .blink {
        width: 3px;
        height: 16px;
    }
    
}

@media (min-width:419px) {
    .hero-image {
        position: relative;
        width: 447px;
        top: -350px;
        right: 20px;
    }
} 





@media (max-width:990px){
    .navigations {
        display: none;
    }
    .social{
        display: none;
    }
    .hide{
        display: block;
    }
    .hero-image {
        position: relative;
        width: 450px;
        top: -260px;
        right: 30px;
    }
   
} 
@media (max-width:768px){
    
    
    .social{
        display:none;
    }
    .para-02 {
        font-size: 25px;
        padding: 14px;
        color: #999;
    }
    .footer {
        background-color: #000;
        color: #999;
        position: relative;
        z-index: 99;
        padding: 25px;
        top: 734px;
    }
   
} 
@media (min-width:991px) {
    .navigationham{
        display:none;
    }
    .hero {
        height: 87vh;
    }
    .hero-image {
        position: relative;
        width: 450px;
        top: 68px;
    }
    .section-two {
        top: 543px;
    }
    .writ-head{
        font-size: 40px;
        color: #aaa;
    }
    .blink{
        width: 6px;
        height: 40px;
        background: #aaa; 
        animation: blink 0.5s ease-in-out infinite;
        margin: 5px 8px;
    }
    .section-two{
        padding-bottom: 70px;
        color: #000;
    }
}