*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    
}

/* header */
.header{
    z-index: 3;
    background-color:rgb(0, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position:fixed;
}
.logo-head{
    color: #aaa;
    cursor: pointer;
   
}
.navigations ul li a{
    color: #aaa;
}
.navigations ul li a:hover{
    color: #2a93bf;
    
}
.social ul li a i{
    color: #aaa;
}
.social ul li a i:hover{
    color:#2a93bf ;
}
.social-one ul li a i{
    color: #aaa;
    margin-left: -21px;
}
.social-one ul li a i:hover{
    color:rebeccapurple ;
}
/* hero section end */
.hero{
    width: 100%;
    height: 83vh;
    background:rgb(0, 0, 0);
    overflow: hidden;
    position:fixed;
    top: 0px;
}
.hero-para{
    padding: 100px 0;
}
.hero-image {
    position: relative;
    width: 456px;
    top: 56px;
}
.image {
    position: absolute;
    width: 323px;
    height: 330px;
    border-radius: 50%;
    background: #aaa;
    top: 111px;
    right: 17px;
}
.hero-image img{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.blink{
    width: 6px;
    height: 40px;
    background: #aaa; 
    animation: blink 0.5s ease-in-out infinite;
    margin: 5px 8px;
}
.typing{
    color:#2a93bf;
   
}
.white{
    color:#aaa;
}
.white-one{
    color:rgb(42, 147, 189);
}
.writ-head{
    font-size: 40px;
    color: #aaa;
}
@keyframes blink {
    0%{
        background: rgb(42, 147, 189);
    }
    50%{
        background: #aaa;
    }
    100%{
        background: rgb(42, 147, 189);
    }
}


/* hero section ends */




.section-two{
    background: rgb(255, 255, 255);
    position: relative;
    padding-top: 50px;
    top: 534px;
    z-index: 99;
}
.section-two-head{
    border-bottom: 2px solid rgb(42, 147, 189);
    padding-bottom: 20px;
}
